--
-- PostgreSQL database dump
--



-- Dumped from database version 17.8 (a284a84)
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: chucvu; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.chucvu (
    chucvu_id integer NOT NULL,
    tenchucvu character varying(100) NOT NULL
);


--
-- Name: chucvu_chucvu_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.chucvu ALTER COLUMN chucvu_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.chucvu_chucvu_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chuyenbay; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.chuyenbay (
    chuyenbay_id integer NOT NULL,
    tuyenbay_id integer,
    hanghangkhong_id integer,
    maybay_id integer,
    giokhoihanh timestamp without time zone NOT NULL,
    gioden timestamp without time zone NOT NULL,
    trangthai smallint DEFAULT 1,
    co_suatan boolean DEFAULT false NOT NULL,
    hanghe_id integer
);


--
-- Name: chuyenbay_chuyenbay_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.chuyenbay ALTER COLUMN chuyenbay_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.chuyenbay_chuyenbay_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ghe; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ghe (
    ghe_id integer NOT NULL,
    maybay_id integer,
    hangghe_id integer,
    tenghe character varying(10) NOT NULL,
    trangthai smallint DEFAULT 0,
    tang integer NOT NULL,
    row_index integer,
    col_index integer
);


--
-- Name: ghe_ghe_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.ghe ALTER COLUMN ghe_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.ghe_ghe_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: giagheoverride; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.giagheoverride (
    giagheoverride_id integer NOT NULL,
    chuyenbay_id integer,
    ghe_id integer,
    giaoverride numeric(18,2) NOT NULL,
    thuephioverride numeric(18,2) DEFAULT 0,
    lydo character varying(200),
    capnhatluc timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: giagheoverride_giagheoverride_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.giagheoverride ALTER COLUMN giagheoverride_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.giagheoverride_giagheoverride_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: giahchuyenbay; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.giahchuyenbay (
    giahchuyenbay_id integer NOT NULL,
    chuyenbay_id integer,
    hangghe_id integer,
    giacoban numeric(18,2) NOT NULL,
    thuephi numeric(18,2) DEFAULT 0,
    capnhatluc timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: giahchuyenbay_giahchuyenbay_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.giahchuyenbay ALTER COLUMN giahchuyenbay_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.giahchuyenbay_giahchuyenbay_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hangghemaybay; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.hangghemaybay (
    hangghe_id integer NOT NULL,
    maybay_id integer,
    tenhangghe character varying(50) NOT NULL,
    thutuhienthi integer DEFAULT 1
);


--
-- Name: hangghemaybay_hangghe_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.hangghemaybay ALTER COLUMN hangghe_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.hangghemaybay_hangghe_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hanghangkhong; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.hanghangkhong (
    hanghangkhong_id integer NOT NULL,
    tenhanghangkhong character varying(100) NOT NULL
);


--
-- Name: hanghangkhong_hanghangkhong_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.hanghangkhong ALTER COLUMN hanghangkhong_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.hanghangkhong_hanghangkhong_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hanghe; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.hanghe (
    hanghe_id integer NOT NULL,
    tenhanghe character varying(50) NOT NULL,
    tiletichieudam numeric(3,2) DEFAULT 1.0
);


--
-- Name: hanghe_hanghe_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.hanghe ALTER COLUMN hanghe_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.hanghe_hanghe_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hangthanhvien; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.hangthanhvien (
    hangid integer NOT NULL,
    tenhang character varying(50) NOT NULL,
    diemtoithieu integer NOT NULL,
    giamgiaphantram integer NOT NULL
);


--
-- Name: hangthanhvien_hangid_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.hangthanhvien_hangid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: hangthanhvien_hangid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.hangthanhvien_hangid_seq OWNED BY public.hangthanhvien.hangid;


--
-- Name: hanhkhach; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.hanhkhach (
    hanhkhach_id integer NOT NULL,
    hoten character varying(100) NOT NULL,
    ngaysinh date,
    sogiayto character varying(20),
    quoctich character varying(50)
);


--
-- Name: hanhkhach_hanhkhach_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.hanhkhach ALTER COLUMN hanhkhach_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.hanhkhach_hanhkhach_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hanhkhachcuataikhoan; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.hanhkhachcuataikhoan (
    taikhoankhachhang_id integer NOT NULL,
    hanhkhach_id integer NOT NULL,
    ghichu character varying(100)
);


--
-- Name: hoadon; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.hoadon (
    hoadon_id integer NOT NULL,
    taikhoankhachhang_id integer,
    taikhoannhanvien_id integer,
    ngaytao timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    tongtien numeric(18,2) DEFAULT 0,
    trangthai smallint DEFAULT 1
);


--
-- Name: hoadon_hoadon_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.hoadon ALTER COLUMN hoadon_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.hoadon_hoadon_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hoadonve; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.hoadonve (
    hoadon_id integer NOT NULL,
    ve_id integer NOT NULL
);


--
-- Name: maybay; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.maybay (
    maybay_id integer NOT NULL,
    tenmaybay character varying(50) NOT NULL,
    kieumaybay character varying(50),
    tongsoghe integer NOT NULL,
    so_tang integer NOT NULL,
    CONSTRAINT maybay_so_tang_chk CHECK ((so_tang > 0))
);


--
-- Name: maybay_maybay_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.maybay ALTER COLUMN maybay_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.maybay_maybay_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: nhanvien; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.nhanvien (
    nhanvien_id integer NOT NULL,
    hoten character varying(100) NOT NULL,
    dienthoai character varying(15),
    email character varying(150),
    phongban_id integer,
    chucvu_id integer,
    ngayvaolam date,
    trangthai smallint DEFAULT 1,
    ngaynghi date,
    luongcoban numeric(18,2)
);


--
-- Name: nhanvien_nhanvien_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.nhanvien ALTER COLUMN nhanvien_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.nhanvien_nhanvien_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: nhomquyen; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.nhomquyen (
    nhomquyen_id integer NOT NULL,
    tennhomquyen character varying(50) NOT NULL
);


--
-- Name: nhomquyen_nhomquyen_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.nhomquyen ALTER COLUMN nhomquyen_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.nhomquyen_nhomquyen_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: nhomquyen_quyen; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.nhomquyen_quyen (
    nhomquyen_id integer NOT NULL,
    quyen_id integer NOT NULL
);


--
-- Name: phongban; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.phongban (
    phongban_id integer NOT NULL,
    tenphongban character varying(100) NOT NULL
);


--
-- Name: phongban_phongban_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.phongban ALTER COLUMN phongban_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.phongban_phongban_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: quyen; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.quyen (
    quyen_id integer NOT NULL,
    tenquyen character varying(150) NOT NULL,
    phanhe character varying(50),
    danghoatdong boolean DEFAULT true,
    parent_id integer
);


--
-- Name: quyen_action; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.quyen_action (
    id integer NOT NULL,
    tenquyen character varying(150) NOT NULL
);


--
-- Name: quyen_action_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.quyen_action_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: quyen_action_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.quyen_action_id_seq OWNED BY public.quyen_action.id;


--
-- Name: quyen_action_map; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.quyen_action_map (
    id integer NOT NULL,
    action_id integer NOT NULL,
    quyen_id integer NOT NULL
);


--
-- Name: quyen_action_map_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.quyen_action_map_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: quyen_action_map_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.quyen_action_map_id_seq OWNED BY public.quyen_action_map.id;


--
-- Name: quyen_quyen_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.quyen ALTER COLUMN quyen_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.quyen_quyen_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: sanbay; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sanbay (
    sanbay_id integer NOT NULL,
    tensanbay character varying(150) NOT NULL,
    thanhpho character varying(100),
    quocgia character varying(100)
);


--
-- Name: sanbay_sanbay_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.sanbay ALTER COLUMN sanbay_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.sanbay_sanbay_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: suatan; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.suatan (
    suatan_id integer NOT NULL,
    ten_suatan character varying(100) NOT NULL,
    mo_ta text,
    gia numeric(18,2) DEFAULT 0 NOT NULL,
    trang_thai smallint DEFAULT 1 NOT NULL
);


--
-- Name: suatan_suatan_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.suatan ALTER COLUMN suatan_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.suatan_suatan_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: taikhoankhachhang; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.taikhoankhachhang (
    taikhoankhachhang_id integer NOT NULL,
    email character varying(150),
    dienthoai character varying(15),
    matkhau_mahoa character varying(255),
    trangthai smallint DEFAULT 1,
    ngaytao timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    diemtichluy integer DEFAULT 0,
    hangid integer,
    hoten character varying(100)
);


--
-- Name: taikhoankhachhang_taikhoankhachhang_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.taikhoankhachhang ALTER COLUMN taikhoankhachhang_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.taikhoankhachhang_taikhoankhachhang_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: taikhoannhanvien; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.taikhoannhanvien (
    taikhoannhanvien_id integer NOT NULL,
    nhanvien_id integer,
    tendangnhap character varying(50) NOT NULL,
    matkhau_mahoa character varying(255) NOT NULL,
    nhomquyen_id integer,
    danghoatdong boolean DEFAULT true,
    thoidiemtao timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: taikhoannhanvien_taikhoannhanvien_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.taikhoannhanvien ALTER COLUMN taikhoannhanvien_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.taikhoannhanvien_taikhoannhanvien_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: thanhtoan; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.thanhtoan (
    thanhtoan_id integer NOT NULL,
    hoadon_id integer,
    sotien numeric(18,2) NOT NULL,
    phuongthuc character varying(50) NOT NULL,
    thoigian timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    trangthai smallint DEFAULT 1
);


--
-- Name: thanhtoan_thanhtoan_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.thanhtoan ALTER COLUMN thanhtoan_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.thanhtoan_thanhtoan_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tuyenbay; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.tuyenbay (
    tuyenbay_id integer NOT NULL,
    sanbaydi_id integer,
    sanbayden_id integer,
    sodam integer NOT NULL
);


--
-- Name: tuyenbay_tuyenbay_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.tuyenbay ALTER COLUMN tuyenbay_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.tuyenbay_tuyenbay_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ve; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ve (
    ve_id integer NOT NULL,
    chuyenbay_id integer,
    ghe_id integer,
    hanhkhach_id integer,
    taikhoannhanvien_id integer,
    giachot numeric(18,2) NOT NULL,
    thuechot numeric(18,2) DEFAULT 0,
    trangthai smallint DEFAULT 1,
    thoidiemtao timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    suatan_id integer,
    taikhoankhachhang_id integer,
    CONSTRAINT ve_check_owner CHECK ((((taikhoannhanvien_id IS NOT NULL) AND (taikhoankhachhang_id IS NULL)) OR ((taikhoannhanvien_id IS NULL) AND (taikhoankhachhang_id IS NOT NULL))))
);


--
-- Name: ve_ve_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.ve ALTER COLUMN ve_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.ve_ve_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hangthanhvien hangid; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hangthanhvien ALTER COLUMN hangid SET DEFAULT nextval('public.hangthanhvien_hangid_seq'::regclass);


--
-- Name: quyen_action id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quyen_action ALTER COLUMN id SET DEFAULT nextval('public.quyen_action_id_seq'::regclass);


--
-- Name: quyen_action_map id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quyen_action_map ALTER COLUMN id SET DEFAULT nextval('public.quyen_action_map_id_seq'::regclass);


--
-- Name: chuyenbay chuyenbay_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chuyenbay
    ADD CONSTRAINT chuyenbay_pkey PRIMARY KEY (chuyenbay_id);


--
-- Name: ghe ghe_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ghe
    ADD CONSTRAINT ghe_pkey PRIMARY KEY (ghe_id);


--
-- Name: giagheoverride giagheoverride_chuyenbay_id_ghe_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.giagheoverride
    ADD CONSTRAINT giagheoverride_chuyenbay_id_ghe_id_key UNIQUE (chuyenbay_id, ghe_id);


--
-- Name: giagheoverride giagheoverride_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.giagheoverride
    ADD CONSTRAINT giagheoverride_pkey PRIMARY KEY (giagheoverride_id);


--
-- Name: giahchuyenbay giahchuyenbay_chuyenbay_id_hangghe_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.giahchuyenbay
    ADD CONSTRAINT giahchuyenbay_chuyenbay_id_hangghe_id_key UNIQUE (chuyenbay_id, hangghe_id);


--
-- Name: giahchuyenbay giahchuyenbay_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.giahchuyenbay
    ADD CONSTRAINT giahchuyenbay_pkey PRIMARY KEY (giahchuyenbay_id);


--
-- Name: hangghemaybay hangghemaybay_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hangghemaybay
    ADD CONSTRAINT hangghemaybay_pkey PRIMARY KEY (hangghe_id);


--
-- Name: hanghangkhong hanghangkhong_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hanghangkhong
    ADD CONSTRAINT hanghangkhong_pkey PRIMARY KEY (hanghangkhong_id);


--
-- Name: hanghe hanghe_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hanghe
    ADD CONSTRAINT hanghe_pkey PRIMARY KEY (hanghe_id);


--
-- Name: hangthanhvien hangthanhvien_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hangthanhvien
    ADD CONSTRAINT hangthanhvien_pkey PRIMARY KEY (hangid);


--
-- Name: hanhkhach hanhkhach_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hanhkhach
    ADD CONSTRAINT hanhkhach_pkey PRIMARY KEY (hanhkhach_id);


--
-- Name: hanhkhachcuataikhoan hanhkhachcuataikhoan_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hanhkhachcuataikhoan
    ADD CONSTRAINT hanhkhachcuataikhoan_pkey PRIMARY KEY (taikhoankhachhang_id, hanhkhach_id);


--
-- Name: hoadon hoadon_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hoadon
    ADD CONSTRAINT hoadon_pkey PRIMARY KEY (hoadon_id);


--
-- Name: hoadonve hoadonve_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hoadonve
    ADD CONSTRAINT hoadonve_pkey PRIMARY KEY (hoadon_id, ve_id);


--
-- Name: maybay maybay_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.maybay
    ADD CONSTRAINT maybay_pkey PRIMARY KEY (maybay_id);


--
-- Name: nhanvien nhanvien_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.nhanvien
    ADD CONSTRAINT nhanvien_pkey PRIMARY KEY (nhanvien_id);


--
-- Name: chucvu nhanviens; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chucvu
    ADD CONSTRAINT nhanviens PRIMARY KEY (chucvu_id);


--
-- Name: nhomquyen nhomquyen_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.nhomquyen
    ADD CONSTRAINT nhomquyen_pkey PRIMARY KEY (nhomquyen_id);


--
-- Name: nhomquyen_quyen nhomquyen_quyen_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.nhomquyen_quyen
    ADD CONSTRAINT nhomquyen_quyen_pkey PRIMARY KEY (nhomquyen_id, quyen_id);


--
-- Name: phongban phongban_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.phongban
    ADD CONSTRAINT phongban_pkey PRIMARY KEY (phongban_id);


--
-- Name: quyen_action_map quyen_action_map_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quyen_action_map
    ADD CONSTRAINT quyen_action_map_pkey PRIMARY KEY (id);


--
-- Name: quyen_action quyen_action_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quyen_action
    ADD CONSTRAINT quyen_action_pkey PRIMARY KEY (id);


--
-- Name: quyen quyen_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quyen
    ADD CONSTRAINT quyen_pkey PRIMARY KEY (quyen_id);


--
-- Name: sanbay sanbay_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sanbay
    ADD CONSTRAINT sanbay_pkey PRIMARY KEY (sanbay_id);


--
-- Name: suatan suatan_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.suatan
    ADD CONSTRAINT suatan_pkey PRIMARY KEY (suatan_id);


--
-- Name: taikhoankhachhang taikhoankhachhang_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.taikhoankhachhang
    ADD CONSTRAINT taikhoankhachhang_pkey PRIMARY KEY (taikhoankhachhang_id);


--
-- Name: taikhoannhanvien taikhoannhanvien_nhanvien_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.taikhoannhanvien
    ADD CONSTRAINT taikhoannhanvien_nhanvien_id_key UNIQUE (nhanvien_id);


--
-- Name: taikhoannhanvien taikhoannhanvien_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.taikhoannhanvien
    ADD CONSTRAINT taikhoannhanvien_pkey PRIMARY KEY (taikhoannhanvien_id);


--
-- Name: taikhoannhanvien taikhoannhanvien_tendangnhap_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.taikhoannhanvien
    ADD CONSTRAINT taikhoannhanvien_tendangnhap_key UNIQUE (tendangnhap);


--
-- Name: thanhtoan thanhtoan_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.thanhtoan
    ADD CONSTRAINT thanhtoan_pkey PRIMARY KEY (thanhtoan_id);


--
-- Name: tuyenbay tuyenbay_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tuyenbay
    ADD CONSTRAINT tuyenbay_pkey PRIMARY KEY (tuyenbay_id);


--
-- Name: ve ve_chuyenbay_id_ghe_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ve
    ADD CONSTRAINT ve_chuyenbay_id_ghe_id_key UNIQUE (chuyenbay_id, ghe_id);


--
-- Name: ve ve_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ve
    ADD CONSTRAINT ve_pkey PRIMARY KEY (ve_id);


--
-- Name: idx_ghe_maybay; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ghe_maybay ON public.ghe USING btree (maybay_id);


--
-- Name: ix_ghe_maybay_tang; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_ghe_maybay_tang ON public.ghe USING btree (maybay_id, tang);


--
-- Name: ix_ve_suatan_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_ve_suatan_id ON public.ve USING btree (suatan_id);


--
-- Name: ux_ghe_maybay_tang_ten; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ux_ghe_maybay_tang_ten ON public.ghe USING btree (maybay_id, tang, tenghe);


--
-- Name: ux_suatan_ten; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ux_suatan_ten ON public.suatan USING btree (ten_suatan);


--
-- Name: chuyenbay chuyenbay_hanghangkhong_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chuyenbay
    ADD CONSTRAINT chuyenbay_hanghangkhong_id_fkey FOREIGN KEY (hanghangkhong_id) REFERENCES public.hanghangkhong(hanghangkhong_id);


--
-- Name: chuyenbay chuyenbay_hanghe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chuyenbay
    ADD CONSTRAINT chuyenbay_hanghe_id_fkey FOREIGN KEY (hanghe_id) REFERENCES public.hanghe(hanghe_id);


--
-- Name: chuyenbay chuyenbay_maybay_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chuyenbay
    ADD CONSTRAINT chuyenbay_maybay_id_fkey FOREIGN KEY (maybay_id) REFERENCES public.maybay(maybay_id);


--
-- Name: chuyenbay chuyenbay_tuyenbay_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chuyenbay
    ADD CONSTRAINT chuyenbay_tuyenbay_id_fkey FOREIGN KEY (tuyenbay_id) REFERENCES public.tuyenbay(tuyenbay_id);


--
-- Name: quyen_action_map fk_action; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quyen_action_map
    ADD CONSTRAINT fk_action FOREIGN KEY (action_id) REFERENCES public.quyen_action(id) ON DELETE CASCADE;


--
-- Name: nhanvien fk_chucvu; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.nhanvien
    ADD CONSTRAINT fk_chucvu FOREIGN KEY (chucvu_id) REFERENCES public.chucvu(chucvu_id);


--
-- Name: quyen_action_map fk_quyen; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quyen_action_map
    ADD CONSTRAINT fk_quyen FOREIGN KEY (quyen_id) REFERENCES public.quyen(quyen_id) ON DELETE CASCADE;


--
-- Name: ghe ghe_hangghe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ghe
    ADD CONSTRAINT ghe_hangghe_id_fkey FOREIGN KEY (hangghe_id) REFERENCES public.hangghemaybay(hangghe_id);


--
-- Name: ghe ghe_maybay_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ghe
    ADD CONSTRAINT ghe_maybay_id_fkey FOREIGN KEY (maybay_id) REFERENCES public.maybay(maybay_id) ON DELETE CASCADE;


--
-- Name: giagheoverride giagheoverride_chuyenbay_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.giagheoverride
    ADD CONSTRAINT giagheoverride_chuyenbay_id_fkey FOREIGN KEY (chuyenbay_id) REFERENCES public.chuyenbay(chuyenbay_id) ON DELETE CASCADE;


--
-- Name: giagheoverride giagheoverride_ghe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.giagheoverride
    ADD CONSTRAINT giagheoverride_ghe_id_fkey FOREIGN KEY (ghe_id) REFERENCES public.ghe(ghe_id);


--
-- Name: giahchuyenbay giahchuyenbay_chuyenbay_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.giahchuyenbay
    ADD CONSTRAINT giahchuyenbay_chuyenbay_id_fkey FOREIGN KEY (chuyenbay_id) REFERENCES public.chuyenbay(chuyenbay_id) ON DELETE CASCADE;


--
-- Name: giahchuyenbay giahchuyenbay_hangghe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.giahchuyenbay
    ADD CONSTRAINT giahchuyenbay_hangghe_id_fkey FOREIGN KEY (hangghe_id) REFERENCES public.hangghemaybay(hangghe_id);


--
-- Name: hangghemaybay hangghemaybay_maybay_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hangghemaybay
    ADD CONSTRAINT hangghemaybay_maybay_id_fkey FOREIGN KEY (maybay_id) REFERENCES public.maybay(maybay_id) ON DELETE CASCADE;


--
-- Name: hanhkhachcuataikhoan hanhkhachcuataikhoan_hanhkhach_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hanhkhachcuataikhoan
    ADD CONSTRAINT hanhkhachcuataikhoan_hanhkhach_id_fkey FOREIGN KEY (hanhkhach_id) REFERENCES public.hanhkhach(hanhkhach_id) ON DELETE CASCADE;


--
-- Name: hanhkhachcuataikhoan hanhkhachcuataikhoan_taikhoankhachhang_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hanhkhachcuataikhoan
    ADD CONSTRAINT hanhkhachcuataikhoan_taikhoankhachhang_id_fkey FOREIGN KEY (taikhoankhachhang_id) REFERENCES public.taikhoankhachhang(taikhoankhachhang_id) ON DELETE CASCADE;


--
-- Name: hoadon hoadon_taikhoankhachhang_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hoadon
    ADD CONSTRAINT hoadon_taikhoankhachhang_id_fkey FOREIGN KEY (taikhoankhachhang_id) REFERENCES public.taikhoankhachhang(taikhoankhachhang_id);


--
-- Name: hoadon hoadon_taikhoannhanvien_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hoadon
    ADD CONSTRAINT hoadon_taikhoannhanvien_id_fkey FOREIGN KEY (taikhoannhanvien_id) REFERENCES public.taikhoannhanvien(taikhoannhanvien_id);


--
-- Name: hoadonve hoadonve_hoadon_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hoadonve
    ADD CONSTRAINT hoadonve_hoadon_id_fkey FOREIGN KEY (hoadon_id) REFERENCES public.hoadon(hoadon_id) ON DELETE CASCADE;


--
-- Name: hoadonve hoadonve_ve_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hoadonve
    ADD CONSTRAINT hoadonve_ve_id_fkey FOREIGN KEY (ve_id) REFERENCES public.ve(ve_id) ON DELETE CASCADE;


--
-- Name: nhanvien nhanvien_chucvu_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.nhanvien
    ADD CONSTRAINT nhanvien_chucvu_id_fkey FOREIGN KEY (chucvu_id) REFERENCES public.chucvu(chucvu_id);


--
-- Name: nhanvien nhanvien_phongban_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.nhanvien
    ADD CONSTRAINT nhanvien_phongban_id_fkey FOREIGN KEY (phongban_id) REFERENCES public.phongban(phongban_id);


--
-- Name: nhomquyen_quyen nhomquyen_quyen_nhomquyen_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.nhomquyen_quyen
    ADD CONSTRAINT nhomquyen_quyen_nhomquyen_id_fkey FOREIGN KEY (nhomquyen_id) REFERENCES public.nhomquyen(nhomquyen_id) ON DELETE CASCADE;


--
-- Name: nhomquyen_quyen nhomquyen_quyen_quyen_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.nhomquyen_quyen
    ADD CONSTRAINT nhomquyen_quyen_quyen_id_fkey FOREIGN KEY (quyen_id) REFERENCES public.quyen(quyen_id) ON DELETE CASCADE;


--
-- Name: quyen quyen_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quyen
    ADD CONSTRAINT quyen_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.quyen(quyen_id);


--
-- Name: taikhoankhachhang taikhoankhachhang_hangid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.taikhoankhachhang
    ADD CONSTRAINT taikhoankhachhang_hangid_fkey FOREIGN KEY (hangid) REFERENCES public.hangthanhvien(hangid);


--
-- Name: taikhoannhanvien taikhoannhanvien_nhanvien_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.taikhoannhanvien
    ADD CONSTRAINT taikhoannhanvien_nhanvien_id_fkey FOREIGN KEY (nhanvien_id) REFERENCES public.nhanvien(nhanvien_id) ON DELETE CASCADE;


--
-- Name: taikhoannhanvien taikhoannhanvien_nhomquyen_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.taikhoannhanvien
    ADD CONSTRAINT taikhoannhanvien_nhomquyen_id_fkey FOREIGN KEY (nhomquyen_id) REFERENCES public.nhomquyen(nhomquyen_id);


--
-- Name: thanhtoan thanhtoan_hoadon_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.thanhtoan
    ADD CONSTRAINT thanhtoan_hoadon_id_fkey FOREIGN KEY (hoadon_id) REFERENCES public.hoadon(hoadon_id) ON DELETE CASCADE;


--
-- Name: tuyenbay tuyenbay_sanbayden_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tuyenbay
    ADD CONSTRAINT tuyenbay_sanbayden_id_fkey FOREIGN KEY (sanbayden_id) REFERENCES public.sanbay(sanbay_id);


--
-- Name: tuyenbay tuyenbay_sanbaydi_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tuyenbay
    ADD CONSTRAINT tuyenbay_sanbaydi_id_fkey FOREIGN KEY (sanbaydi_id) REFERENCES public.sanbay(sanbay_id);


--
-- Name: ve ve_chuyenbay_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ve
    ADD CONSTRAINT ve_chuyenbay_id_fkey FOREIGN KEY (chuyenbay_id) REFERENCES public.chuyenbay(chuyenbay_id);


--
-- Name: ve ve_ghe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ve
    ADD CONSTRAINT ve_ghe_id_fkey FOREIGN KEY (ghe_id) REFERENCES public.ghe(ghe_id);


--
-- Name: ve ve_hanhkhach_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ve
    ADD CONSTRAINT ve_hanhkhach_id_fkey FOREIGN KEY (hanhkhach_id) REFERENCES public.hanhkhach(hanhkhach_id);


--
-- Name: ve ve_suatan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ve
    ADD CONSTRAINT ve_suatan_id_fkey FOREIGN KEY (suatan_id) REFERENCES public.suatan(suatan_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: ve ve_taikhoankhachhang_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ve
    ADD CONSTRAINT ve_taikhoankhachhang_fkey FOREIGN KEY (taikhoankhachhang_id) REFERENCES public.taikhoankhachhang(taikhoankhachhang_id);


--
-- Name: ve ve_taikhoannhanvien_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ve
    ADD CONSTRAINT ve_taikhoannhanvien_id_fkey FOREIGN KEY (taikhoannhanvien_id) REFERENCES public.taikhoannhanvien(taikhoannhanvien_id);


--
-- PostgreSQL database dump complete
--



